# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# custom
.idea/
.vscode/
old/F_*.npy
old/J_*.npy
old/dx_*.npy
tmp/
pandapower/
eigen/
Sbus.npy
old/V0.npy
old/Ybus.npy
old/pq.npy
old/pv.npy
old/V_*.npy
*.asm
pyklu/tests/case14
pyklu/tests/case30
pyklu/tests/case118
pyklu/tests/case300
pyklu/tests/case1888
J*.npy
F*.npy
V*.npy
dx*.npy
pq.npy
pv.npy
Ybus.npy
Ybus*.npy
dS_dVa*.npy
dS_dVm*.npy
dVa_x*.npy
dVm_x*.npy
test_backend.ipynb
benchmarks/aor_ls.npy
benchmarks/aor_pp.npy
success.txt
test_docker.py
pyklu.c
pyklu.cpp
pyklu.h
pyklu.py
start_pandapower.py
test_pyklu_package.py
test_pickle.pickle
test_pickle.py
documentation
.boring_bug.py.swp
test_dcpf.py
test_case6495rte.json
test_case6515rte.json
test_rte_2848.json
test_rte_files.py
test_rte_converters.py
test_case14.json
test_case118.json
test_case2848rte.json
lightsim2grid/tests/timer.py
wheelhouse/*.whl
benchmarks/ase6495rte.json
benchmarks/case6495rte.json
test_dir
build_cmake/build
build_cmake/built
build_cmake/SuiteSparse/*/SourceWrappers
build_cmake/CMakeLists.old.txt
build_cmake/SuiteSparse/AMD/Include
build_cmake/SuiteSparse/AMD/Lib
build_cmake/SuiteSparse/AMD/Source
build_cmake/SuiteSparse/BTF/Include
build_cmake/SuiteSparse/BTF/Lib
build_cmake/SuiteSparse/BTF/Source
build_cmake/SuiteSparse/COLAMD/Include
build_cmake/SuiteSparse/COLAMD/Lib
build_cmake/SuiteSparse/COLAMD/Source
build_cmake/SuiteSparse/CXSparse/Include
build_cmake/SuiteSparse/CXSparse/Lib
build_cmake/SuiteSparse/CXSparse/Source
build_cmake/SuiteSparse/KLU/Include
build_cmake/SuiteSparse/KLU/Lib
build_cmake/SuiteSparse/KLU/Source
build_cmake/SuiteSparse/SuiteSparse_config/SuiteSparse_config.c
build_cmake/SuiteSparse/SuiteSparse_config/SuiteSparse_config.h
lightsim2grid/tests/pn.case6470rte.json
**/nicslu.lic
benchmarks/debug_speed_improvments.py
perf.data
perf.data.old
test_profile.py.lprof
benchmarks/case9241pegase.json
benchmarks/case118.json
benchmarks/case_illinois200.json
benchmarks/case300.json
benchmarks/case1354pegase.json
benchmarks/case1888rte.json
benchmarks/GBnetwork.json
benchmarks/case2848rte.json
benchmarks/case2869pegase.json
benchmarks/case3120sp.json
benchmarks/case6495rte.json
_pandapower
benchmarks/slacks.py
_gridcal
*grid.json
bug_pandapower.py
bug_pp.py
old_pyproject.toml
test_gridcal.py
lightsim2grid/tests/bug_file.zip
lightsim2grid/tests/test.json
pyproject.toml.old
test_bug_as.py
**cktso.lic
cktso
test_milad.py