[submodule "SuiteSparse"]
	path = SuiteSparse
	url = https://github.com/DrTimothyAldenDavis/SuiteSparse
	ignore = dirty
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
	ignore = dirty
